* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../imgs/fundo.jpg')
}

#jogo {
    width: 950px;
    height: 100vh;
    position: relative;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    background: url('../imgs/fundo_game.jpg');
}

#inicio {
    width: 50%;
    height: auto;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: aliceblue;
    background-color: rgb(57, 61, 20);
    padding: 10px;
}

.btns{
    width: 30%;
    margin: 0 auto;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(5, 14, 1);
    color: aliceblue;
}

.btns:hover{
    background-color: rgb(188, 214, 177);
    color: black;
}

#pontuacao {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    position: relative;
    top: 230px;
    padding: 20px;
    color: aliceblue;
    background-color: black;
    font-size: larger;
    font-family: monospace;
    font-weight: 900;
    visibility: hidden;
}

#salvos{
    color: rgb(57, 250, 32);
}

#mortes {
    color: red;
}

.jogador {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 40px;
    top: 179px;
    margin: 0px;
    background-image: url('../imgs/apache.png');
    border: 2px solid white;
    animation-name: moverHeliceJogador;
    animation-iteration-count: infinite;
    animation-duration: 0.2s;
}

@keyframes moverHeliceJogador {
    from { background-image: url('../imgs/apache.png');}
    to { background-image: url('../imgs/apache2.png');}
}

@keyframes moverHeliceInimigo {
    from { background-image: url('../imgs/inimigo1.png');}
    to { background-image: url('../imgs/inimigo1-2.png');}
}

.amigo {
    width: 87px;
    height: 126px;
    position: absolute;
    left: 200px;
    top: 5px;
    background-image: url('../imgs/amigo.png');
}

.inimigo1 {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 648px;
    top: 179px;
    margin: 0px;
    padding: 0px;
    background-image: url('../imgs/inimigo1.png');
    border: 2px solid red;
    animation-name: moverHeliceInimigo;
    animation-iteration-count: infinite;
    animation-duration: 0.2s;
}

.inimigo2 {
    width: 165px;
    height: 70px;
    position: absolute;
    left: 750px;
    top: 384px;
    background-image: url('../imgs/inimigo2.png');
    border: 2px solid red;
}

.aguardar {
    width: 50px;
    height: 8px;
    top: 200px;
    left: 180px;
    position: absolute;
    visibility: hidden;
    background-image: url('../imgs/disparo.png');
}

.solo {
    position: absolute;
    top: 457px;
    width: 100%;
    height: 15px;
    visibility: hidden;
}